# Gradle
.gradle/
build/
local.properties

# IDE
.idea/
*.iml

# Android
app/build/
app/release/

# OS
.DS_Store
Thumbs.db

# Keystore (keep private)
*.jks
*.keystore

# Xcode
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/
ios/build/
.claude/
